.latest__collection {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.collection__grid {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas por padrão */
  gap: 24px;
  justify-items: center;
  align-items: center;
}
.collection__description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.collection__description h2 {
  font-size: 24px;
}
